body{
    margin: 1em;
    display: grid;
    grid: auto-flow min-content/ repeat(12, 1fr);
    grid-gap: 1em;
}

header, footer {
   grid-column: 1/ -1;

}

aside, nav{
    grid-column:1/5;
 
}

main{
    grid-area: 2 / 5 / 4/ 13;
    }

    /* #pie1, #pie5{
        grid-column-start: 1;
        grid-column-end: 4;
    }

    #pie2, #pie6{
        grid-column-start: 4;
        grid-column-end: 7;
    
    }

    #pie3, #pie7{
        grid-column-start: 7;
        grid-column-end: 10;
    
    }

    #pie4, #pie8{
        grid-column-start: 10;
        grid-column-end: 13;
    
    } */

  body > img {
      grid-column: span 3;
  }